{% extends 'base.html.twig' %}
{% block title %} Calculatrice {% endblock %}


{% block body %}
    <form action="{{ path('macro_calculatrice') }}" method="POST">
        <section class="calculatrice-content">

            <div>
                <div class="rond">1</div>
                {{form_row(form.sexe)}}
            </div>

            <div>
                <div class="rond">2</div>
                {{form_row(form.age)}}
                <p>ans</p>
            </div>

            <div>
                <div class="rond">3</div>
                {{form_row(form.poid)}}
                <p>kg</p>
            </div>

            <div>
                <div class="rond">4</div>
                {{form_row(form.mensuration)}}
                <p>m</p>
            </div>

            <div>
                <div class="rond">5</div>
                {{form_row(form.activite)}}
            </div>

            <div>
                <button type="submit" class="btn btn-warning">Calculer mon apport Calorique</button>
            </div>
	
            {{ form_rest(form) }}
        </section>

        <section class="resultat-content">
            <h3>Votre Résultat personnalisé</h3>
            <div class="rond">
                <i class="fa fa-calculator" aria-hidden="true"></i>
            </div>
            <hr/>


            <div class="resultat-choix">
                <h4>Perdre du poids</h4>
                <div class="rond">
                    <i class="fa fa-minus" aria-hidden="true"></i> 
                </div>
                    <h5> {{poidPerdre}} kcal </h5>
                <div>Consommation calorique par jour <br> Ce niveau de consommation de calories quotidien vous permettra de perdre entre 0,5 et 1 kg par semaine d'une manière saine et durable.
                </div>
            </div>

            <div class="resultat-choix">
                <h4>Stabiliser son poids</h4>
                <div class="rond">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                    <h5> {{ poidStabiliser }} kcal </h5>
                <div>Consommation calorique par jour <br> Ce niveau de consommation de calories quotidien vous permettra de stabiliser votre poids actuel.</div>
            </div>

            <div class="resultat-choix">
                <h4>Prendre du poids</h4>
                <div class="rond">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                    <h5> {{ poidPrendre }} kcal </h5>
                <div>Consommation calorique par jour <br> Ce niveau de consommation de calories quotidien vous permettra de prendre entre 0,5 et 1 kg par semaine.</div>
            </div>


        </section>
    </form>

 {% endblock %}